@use "../abstracts" as *;

body {
  background: $background;
}

.discover-container {
  display: flex;
  flex-direction: column;
  padding: 2.44rem 0 3.56rem 0;
  align-items: center;
  @include desktop {
    padding: 1.87rem 0;
    gap: 1.12rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0 58px;
    text-align: center;
    @include desktop {
      font-size: 2.5rem;
    }
  }

  p {
    padding: 0 26px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 1rem 0 2rem 0;
    @include desktop {
      margin: 0;
    }
  }
}

.howtouse-container, .restaurants-container {
  h2 {
    font-size: 1.5rem;
  }
}

.howtouse-container {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  background: $white;
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  @include desktop {
    gap: 1.56rem;
    padding: 3.12rem 12vw;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include desktop {
      flex-direction: row;
      //gap: 0;
      //justify-content: space-between;
    }
  }

  li {
    position: relative;
    display: flex;
    height: 4.5rem;
    border-radius: 20px;
    background-color: $background;
    gap: 20px;
    align-items: center;
    padding: 0 2rem;
    margin-left: 0.75rem; // space for the number
    font-weight: 500;
    cursor: default;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    &:last-child i {
      color: $primary;
    }
    @include desktop {
      flex: 1;
      //width: 25%;
    }

    i {
      font-size: 1rem;
      color: $grey3;
    }
  }

  &__number {
    position: absolute;
    left: -0.75rem;
    top: calc(50% - 0.75rem);
    background: $primary;
    border-radius: 50%;
    color: $white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 3.37rem 1.12rem 4.12rem 1.06rem;
  @include desktop {
    gap: 1.75rem;
    padding: 1.88rem 12vw;
  }

  h2 {
    margin: 0 0.19rem;
    @include desktop {
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 3.12rem;
      column-gap: 0;
      li {
        width: 46%;
      }
    }
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: $white;
  position: relative;

  img {
    height: 10.875rem;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &__content {
    display: flex;
    padding: 1rem 1.56rem 1rem 0.81rem;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      padding-left: 1.17rem;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__like-btn {
    //font-size: 1.3125rem;
    position: relative;
    padding: 0;
    mask: image(url("icons/heart_filled.svg")) no-repeat;
    -webkit-mask: url("icons/heart_filled.svg") no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;

    object {
      height: 1.3125rem;
    }

    //&::after {
    //    content: url("data:image/svg+xml;utf8,\
    //    <svg xmlns='http://www.w3.org/2000/svg' height='1.3125rem' viewBox='0 0 512 512'>\
    //    <path d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 \
    //    47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 \
    //    55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z' fill='green'/>\
    //    </svg>");
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    bottom: 0;
    //    left: 0;
    //    opacity: 1;
    //    transition: opacity 300ms ease-out;
    //}
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
      background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
      transform: translateY(100%);
      transition: transform 300ms;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &--liked {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__isnew {
    position: absolute;
    top: 13px;
    right: 12px;
    padding: 6px 9px;
    background: $tertiary;
    color: $greenFont;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 500;
  }
}