@use "../abstracts" as *;

body {
  background: $background;
}

.discover-container {
  display: flex;
  flex-direction: column;
  padding: 39px 0 57px 0;
  align-items: center;
  h1 {
    font-size: 1.5rem;
    margin: 0 58px;
    text-align: center;
    margin-bottom: 1rem;
  }
  p {
    padding: 0 26px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
  }
  button {
    margin-top: 2rem;
  }
}

.howtouse-container, .restaurants-container {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  h2 {
    font-size: 1.5rem;
  }
}

.howtouse-container {
  background: $white;
  padding: 48px 20px 68px 20px;
  ol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  li {
    position: relative;
    display: flex;
    height: 4.5rem;
    border-radius: 20px;
    background-color: $background;
    gap: 20px;
    align-items: center;
    padding: 0 2rem;
    margin-left: 0.75rem; // space for the number
    font-weight: 500;
    i {
      font-size: 1rem;
    }
  }
  &__number {
    position: absolute;
    left: -0.75rem;
    top: calc(50% - 0.75rem);
    background: $primary;
    border-radius: 50%;
    color: $white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restaurants-container {
  padding: 54px 0 66px 0;
  h2 {
    margin: 0 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 18px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: $white;
  position: relative;
  img {
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  &__content {
    display: flex;
    padding: 16px 25px 16px 13px;
    justify-content: space-between;
    align-items: center;
  }
  &__txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__like-btn {
    font-size: 1.3125rem;
  }
  &__isnew {
    position: absolute;
    top: 13px;
    right: 12px;
    padding: 6px 9px;
    background: $tertiary;
    color: $greenFont;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 500;
  }
}