@use "../abstracts" as *;

.bg-restaurant-page {
  background: $white;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg-restaurant {
  position: absolute;
  top: 0;
  width: 100%;
  height: 275px;
  z-index: -1;

  @include desktop {
    height: 383px;
  }
  @include tablet {
    height: 330px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu {
  margin-top: 220px;
  flex: 1;
  border-radius: 30px 30px 0 0;
  background: $background;
  padding: 2rem 0.813rem 2.5rem 0.813rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include desktop {
    margin: 343px auto 0 auto;
    box-sizing: border-box;
    width: 76vw;
    max-width: 1440px;
    padding: 3.19rem min(12vw, 14rem) 2.5rem min(12vw, 14rem);
  }
  @include tablet {
    margin: 290px 6vw 0 6vw;
    width: auto;
    padding: 3.19rem 6vw 2.5rem 6vw;
  }

  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  > footer {
    display: flex;
    justify-content: center;
  }

  &__restaurant-name {
    font-family: Shrikhand, sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
  }
}

.course-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      width: 2.5rem;
      height: 0.188rem;
      margin-top: 0.5rem;
      background: $tertiary;
    }
  }
}

.dish {
  display: flex;
  border-radius: 1rem;
  background: $white;
  box-shadow: 0 4px 1rem 0 rgba(0, 0, 0, 0.10);
  cursor: pointer;
  overflow: hidden;

  &__content {
    display: flex;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    flex: 0 0 100%;
    transition: flex-basis 300ms;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    overflow: hidden;

    * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 500;
    }

    span {
      font-weight: 300;
    }
  }

  &__price {
    align-self: flex-end;
    font-size: 1rem;
    font-weight: 700;
  }

  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f058";
    background: $tertiary;
    color: $white;
    font-size: 1.25rem;
    flex: 0 0 3.75rem;
    border-radius: 0 1rem 1rem 0;
  }

  &:hover {
    .dish__content {
      flex-basis: calc(100% - 3.75rem);
    }
  }
}

.course-card > * {
  animation: dishes_appearance 380ms both cubic-bezier(.15,.94,.33,.97);

  @for $i from 1 through 20 {
    &.order-#{$i} {
      animation-delay: $i * 120ms;
    }
  }
}