@use "../abstracts" as *;

body > header {
  display: flex;
  flex-direction: column;
  background: $white;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  @include desktop {
    height: 6rem;
  }
  img {
    height: 2rem;
    margin-top: 0.5rem;
    @include desktop {
      height: 2.1rem;
      margin-top: 0;
    }
  }
  //padding: 14px 0 5px 0;
  //
  //span {
  //  font-family: Shrikhand, sans-serif;
  //  font-weight: 400;
  //  color: $black;
  //  font-size: 1.875rem;
  //  cursor: default;
  //}
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey2;
  height: 3.125rem;
  gap: 17px;
  i {
    color: $grey;
  }
  span {
    color: $grey;
    font-weight: 500;
  }
}

.btn-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.06rem;

  i {
    color: $black;
    font-size: 1.875rem;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f060";
    color: $tertiary;
    font-size: 1.875rem;
    opacity: 0.2;
    transition: transform 200ms ease-out, opacity 100ms ease-out;
  }

  &:hover {
    &::after {
      transform: translate(0.12rem, 0.14rem);
      opacity: 0.8;
    }
  }
}