@use "../abstracts" as *;

.homepage-spinner {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.82);
  animation: disappearingSpinner 460ms 1540ms forwards;
  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    width: 1em;
    height: 1em;
    background: transparent;
    border-radius: 1em;
    box-shadow: generateDots();
    animation: spinningDots 1500ms linear forwards infinite;
    @include desktop {
        font-size: 2.8em;
    }
  }
}

