/**
 * Colors
 */
$background: #F6F6F6;
$primary: #9356DC;
$secondary: #FCA311;
$tertiary: #99E2D0;
$greenFont: #008766;
$white: #FFFFFF;
$black: #101010;
$grey: #353535;
$grey2: #EAEAEA;
$grey3: #7E7E7E;

/**
 * Loader
 */
$spinnerDots: 8;
$spinnerRadius: 2;
$dotsColors: #9356DC, #9F69D8, #AB7CD4, #B78FCF, #CC68DB, #B78FCF, #AB7CD4, #9F69D8;