@use "sass:math";
@use "../abstracts" as *;

@keyframes dishes_appearance {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spinningDots {
  @for $i from 1 through $spinnerDots {
    $percentage: math.percentage($i / $spinnerDots);

    #{$percentage} {
      box-shadow: generateDots($i/$spinnerDots);
    }
  }
}

@keyframes disappearingSpinner {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}