html, body, ol, ul, p, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}